<p data-link='toggleOpen'>{{name}}</p>

<div class="mue-application-list-settings">
    <br/>

    <div class="form-group">
        <label>Application id</label>
        <input type="text" class="form-control" value="{{applicationId}}" disabled>
    </div>

    <div class="form-group">
        <label>Private key</label>
        <button class="btn btn-link" type="button" data-link='newPrivateKey'>Generate new key</button>
        <input type="text" class="form-control" name="privateKey" value="{{privateKey}}" disabled>
    </div>

    <div class="form-group">
        <label>Redirect url</label>
        <input type="text" name="redirectUrl" class="form-control"  value="{{redirectUrl}}">
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description">{{description}}</textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-link" type="button" data-link='edit'>Edit</button>
        <button class="btn btn-danger" type="button" data-link='delete'>Delete</button>
    </div>
</div>